/* General Styles */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.whatsapp-main img {
  position: fixed;
  bottom: 30px;
  right: 20px;
  text-align: right;
  z-index: 10;
}

body {
  /* background-color: #010911f8; */

  /* background-color: #212121; */
  /* background-color: #020d18; */
  color: white;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(#000000, #0d1a27, #000000, #0d1a27, #000000);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: transparent;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0px 25px 0px 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}

nav ul li a:hover {
  color: #00abf0;
  font-size: 21px;
}

header hr {
  border: 0;
  background-color: #00abf0;
  height: 2.6px;
  margin: 0px 0px;
}

main hr {
  border: 0;
  background-color: #00abf0;
  height: 1.2px;
  margin: 40px 84px;
}

.left {
  /* font-size: 1.9rem; */
  margin: 0px 250px 0px 0px;
  /* box-shadow: #000000 0px 0px 20px; */
}

.firstsection {
  display: flex;
  justify-content: space-around;
  margin: 80px 0px 0px 0px;
}

.firstsection > div {
  width: 40%;
}

.leftsection {
  font-size: 2.9rem;
  margin: 48px 0px 0px 10px;
}

.rightsection img {
  width: 57%;
  margin-left: 160px;
  border-radius: 30px;
  box-shadow: #00abf0 0px 0px 30px;
  border: 5px solid #00abf0;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.purple {
  color: #00abf0;
  font-size: 2.9rem;
}

#element {
  color: #00abf0;
  font-size: 2.6rem;
  font-weight: 600;
}

.leftsection p {
  font-size: 19px;
  color: gray;
  padding: 0px;
  padding: 20px 0px 0px 0px;
}

.himyam {
  font-size: 2.1rem;
  font-weight: 750;
}

.button11 {
  padding: 30px 10px;
}

.button11 button {
  width: 130px;
  height: 48px;
  background-color: #010911f8;
  color: white;
  font-size: large;
  border: 4px solid #00abf0;
  box-shadow: #00abf0 0px 0px 20px;
}

.conkaro {
  background-color: #019eff;
  color: #010911f8;
  border: 5px solid #010911f8;
  box-shadow: #00abf0 0px 0px 20px;
  height: 40px;
  /* border-radius: 10px; */
}

.conkaro:hover {
  background-color: #010911f8;
}

.button11 button:hover {
  background-color: #00abf0;
}

.red,
.active {
  color: #00abf0;
}

.nnn1 {
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 2.1rem;
}

.yyy {
  color: #00abf0;
}

.secondsection {
  display: flex;
  padding: 80px;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  background: var(--snd-bg-color);
}

.About-img img {
  width: 24vw;
  border: 2px solid #00abf0;
}

.heading {
  text-align: center;
  font-size: 3.5rem;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 3.6rem;
}

.about-content p {
  font-size: 1.1rem;
  margin: 2rem 0 3rem;
  color: gray;
}

.about-content ul li {
  list-style: none;
  display: flex;
  margin: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  padding: 0px 50px 0px;
}

.about-content ul {
  display: flex;
  text-align: center;
  align-items: center;
  /* justify-content: center; */
}

.line00 {
  margin-left: 0px;
  margin-right: 0px;
  height: 3px;
}

.About-img h3 {
  font-size: 1.9rem;
  padding: 10px;
  margin-bottom: 60px;
  /* width: 100%; */
}

.iconc {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.iconc i {
  margin: 16px;
  font-size: 1.7rem;
  /* border: 2px solid #00abf0; */
  width: 30px;
  border-radius: 10px;
  box-shadow: #00abf0 0px 0px 30px;
}

.iconc a {
  color: white;
  text-decoration: none;
}

.bogdog a button {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #010911f8;
  color: #00abf0;
  width: 150px;
  height: 28px;
  border: 3px solid #00abf0;
  box-shadow: #010911f8 0px 0px 5px;
  /* margin-bottom: 5px; */
}

.bogdog {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.bogdog a button:hover {
  border: 3px solid #010911f8;
  background-color: #00abf0;
  color: #010911f8;
}

.bogdog-22 h1 i {
  color: #00abf0;
  text-shadow: none;
  font-size: 1.2em;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .left {
    font-size: 1.5rem;
    margin: 0px 20px 0px 0px;
  }

  .rightsection img {
    margin-left: 0px;
    justify-content: center;
    margin-right: 0px;
  }

  .About-img h3 {
    margin-top: 40px;
    margin-bottom: 0px;
  }

  .leftsection {
    font-size: 2rem;
    margin: 48px 20px 0px 0px;
  }

  .purple {
    font-size: 1.6rem;
  }

  .firstsection {
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
  }

  .firstsection > div {
    width: 80%;
  }

  .rightsection img {
    width: 80%;
    align-items: center;
    justify-content: center;
    margin-left: 44px;
    margin-right: 0px;
  }

  .right ul {
    display: none;
  }

  .sidebar {
    display: flex;
  }

  #element {
    font-size: 1.5rem;
  }

  .leftsection p {
    font-size: 16px;
  }

  .secondsection {
    flex-direction: column;
    gap: 1rem;
  }

  .about-content ul li {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin: 10px;
  }

  .about-content ul li span {
    margin-top: 5px;
  }

  .about-content p {
    font-size: 1rem;
  }

  .iconc i {
    font-size: 1.5rem;
  }

  .opiform input {
    width: 80%;
  }

  .bogdog {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

.bogdog img {
  width: 410px;
  height: 230px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.container {
  width: 1200px !important;
  padding: 0 !important;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 992px) and (max-width: 1439px) {
    max-width: 1279px !important;
    padding: 0 !important;
    margin: 0 80px !important;
    width: auto !important;
  }

  @media screen and (max-width: 991px) {
    max-width: 959px !important;
    margin: 0 16px !important;
    padding: 0 !important;
    width: auto !important;
  }
}

@media screen and (max-width: 973px) {
  .sidebar {
    display: none;
  }
}

@media screen and (max-width: 1214px) {
  .bogdog img {
    width: 270px;
  }
}

.gradient-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;

  /* padding: 30px; */
  @media screen and (max-width: 991px) {
    grid-template-columns: 1fr;
  }
}

.container-title {
  text-align: center;
  padding: 0 !important;
  margin-bottom: 40px;
  font-size: 60px;
  color: #fff;
  font-weight: 600;
  line-height: 60px;
}

.card {
  max-width: 550px;
  border: 0;
  width: 100%;
  margin-inline: auto;
}

.container-card {
  position: relative;
  border: 2px solid #00abf0;
  background-color: transparent;
  background-clip: padding-box;
  border-radius: 45px;
  padding: 40px;
}

.container-card-2 {
  position: relative;
  /* border: 2px solid #00abf0; */
  background-color: transparent;
  background-clip: padding-box;
  border-radius: 45px;
  padding: 40px;
  /* height: 12em; */
}

.container-card-2:hover {
  background-color: #00acf00a;
  /* color:#010911f8 ; */
  padding: 42px;
}

.bg-green-box {
  position: relative;
}

.bg-green-box::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  content: "";
  z-index: -1;
  border-radius: 45px;
}

.bg-green-box::after {
  box-shadow: #00abf0 0px 0px 15px;
}

.bg-green-box-22 {
  border-radius: 5px;
  box-shadow: #00acf0b7 0px 0px 15px;
}

.card-title {
  font-weight: 600;
  color: white;
  letter-spacing: -0.02em;
  line-height: 40px;
  font-style: normal;
  font-size: 28px;
  padding-bottom: 8px;
}

.card-description {
  font-weight: 600;
  line-height: 32px;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 16px;
  max-width: 470px;
}

#copyright {
  text-align: center;
  align-items: center;
  margin-bottom: 7px;
  font-size: small;
  color: gray;
}

.sidebar2 {
  display: none;
}
